[pytest]
minversion = "9.0"
cache_dir = ".cache/pytest"
strict = true
norecursedirs = [
    ".egg-info",
    ".*",
    "build",
    "data",
    "dist",
    "docs/_build",
    "docs/examples",
    "htmlcov",
    "notebooks",
    "tools",
    "wrk",
]
python_functions = ["test_*", "profile_*"]
addopts = [
    "-ra",
    "-q",
    "--tb=short",
    "--doctest-modules",
    "--strict-markers",
    "--ignore=setup.py",
    "--failed-first",
    "--xdoctest",
    "--pytest-durations-min=1",
    "--pytest-resultlog=pytest-result.log",
]
doctest_optionflags = "ELLIPSIS NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL ALLOW_UNICODE ALLOW_BYTES NUMBER"
testpaths = ["tests", "src", "docs"]
markers = ["slow: marks tests as slow (deselect with '-m \"not slow\"')"]
# xfail tests that pass should fail the test suite
filterwarnings = [
    "error",
    "ignore:.*not typechecking multipledispatch.dispatcher.*UserWarning",
    'ignore:.*io.FileIO \[closed\]',
    'ignore:.*Implicit None on return values:DeprecationWarning',
]
log_format = "%(asctime)s %(levelname)s %(message)s"
log_date_format = "%Y-%m-%d %H:%M:%S"
